@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&display=swap');

body {
    font-family: 'Red Hat Display';
    background: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
#hero {
    max-width: 28rem;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
h1,
h2,
a {
    font-weight: 900;
    margin-bottom: .2rem;
}
h2 {
    font-size: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 28rem;
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#info {
    text-align: center;
    padding: 1rem 4rem;
    margin: 0;
    line-height: 160%
}
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    background-color: hsl(225, 100%, 98%);
    gap: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
}
a {
    flex-grow: 2;
    text-align: end;
    margin-right: 1rem;
}
a:hover,
.pay:hover {
    text-decoration: none;
    opacity: .7;
}

.plan{
    display: flex;
    gap:2rem;
}
#icon {
    margin-left: 1rem;
}
.pay {
    background-color:hsl(245, 75%, 52%);
    color: white;
    width: 70%;
    padding: .8rem;
    border-radius: .7rem;
    margin-top: 2rem;
    margin-bottom:3rem;
    font-weight: 900;
    box-shadow: 0rem 1rem 1rem 0 rgba(0,0,0,.2);
    border: none;
}
.cancel {
    border: none;
    background-color: white;
    font-weight: 800;
    color: rgba(0,0,0,.5);
    width: 90%;
    margin-bottom: 2rem;
}
.cancel:hover {
    color:rgba(0,0,0,1) ;
}
footer {
    position: absolute;
    bottom:0;
}